<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Username ~ </h1>
    <h2><%=@user.username%></h2>
    <h3>Ballance ~ </h3>
    <h4><%=@user.balance%></h4>
    <form method="post" action="/logout">
      <button type="submit" value="Log Out"></button>
    </form>
  </body>
</html>
